<link href="/css/conversation.css" rel="stylesheet" type="text/css">
<div class="page">
  <div class="titleBar">
    <h3>Questions</h3>
    <p>You&nbsp;<span class="small">&#x25B6;&#x25B6;</span>&nbsp;Secret<p>
    <div class="line"></div>
  </div>

  <% @conv_num = 0 %>
  <% @conversations.each do |conv| %>
  <% @conv_num = @conv_num + 1 %>
  <div class="conversation">
    <h4>Question.</h4>
    <div class="wrapper">
      <div class="image">
        <div class="targetimg">
          <div class="face-out-circle">
            <img src="<%= @target_img %>">
          </div>
          <div class="slanting"></div>
          <div class="slanting2"></div>
          <div class="line"></div>
        </div>
        <div class="loverimg">
          <img class="loverimg" src="<%= @lover_img %>">
          <div class="slanting"></div>
          <div class="slanting2"></div>
          <div class="line"></div>
        </div>
      </div>

      <div class="question">
        <span><%= conv[1].force_encoding("utf-8") %></span>
      </div>
      <% if conv[4] == nil %>
        <% answer = 1 %>
      <div class="answer">
        <span></span>
      </div>
      <% else %>
      <div class="answer">
        <span><%= conv[4].force_encoding("utf-8") %></span>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>

  <!-- 質問がまだない場合 -->
  <% if @conv_num == 0 %>
    <p style="color:black;">ここになにか</p>
  <% end %>

  <!-- 3回質問したら聞かない -->

  <!-- 告白された側：質問フォーム -->
  <div class="footer">
    <form action="/question" method="post">
      <input type="hidden" name="approach_id" value="<%= @approach_id %>">
      <select name="question_id" class="selection">
      <% @questions.each do |q| %>
        <option value="<%= q[0] %>"><%= q[1].force_encoding("utf-8") %></option>
      <% end %>
      </select>
      <input type="submit" value="質問する" class="button">
    </form>
  </div>

  <div class="conversation">
  </div>
</div>
