<link href="/css/conversation.css" rel="stylesheet" type="text/css">
<div class="page">
  <div class="titleBar">
    <h3>Questions</h3>
    <p>You&nbsp;<span class="small">&#x25B6;&#x25B6;</span>&nbsp;<%= @target_name %><p>
    <div class="line"></div>
  </div>

  <% @conv_num = 0 %>
  <% @answer = 0 %>
  <% @conversations.each do |conv| %>
  <% @conv_num = @conv_num + 1 %>
  <% @cid = conv[0] %>
  <div class="conversation">
    <h4>Question.<%= @conv_num %></h4>
    <div class="wrapper">
      <div class="image">
        <div class="targetimg">
          <div class="face-out-circle">
            <img src="<%= @target_img %>">
          </div>
          <div class="slanting"></div>
          <div class="slanting2"></div>
          <div class="line"></div>
        </div>
        <div class="loverimg">
          <img class="loverimg" src="<%= @lover_img %>">
          <div class="slanting"></div>
          <div class="slanting2"></div>
          <div class="line"></div>
        </div>
      </div>

      <div class="question">
        <span><%= conv[1].force_encoding("utf-8") %></span>
      </div>
      <% if conv[4] == nil %>
      <% @answer = 1 %>
      <% else %>
      <% @answer = 0 %>
      <div class="answer">
        <span><%= conv[4].force_encoding("utf-8") %></span>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>

  <!-- 質問がまだない場合 -->
  <% if @conv_num == 0 %>
    <p style="color:black;">反応はまだありません．みたいなやつ</p>
  <% end %>

  <!-- 質問がなかったら解答フォームはない -->
  <% if @answer == 1 %>

  <!-- 告白した側：解答フォーム -->
  <div class="footer">
    <form action="/answer" method="post">
      <input type="hidden" name="conversation_id" value="<%= @cid %>">
      <input type="text" name="answer" class="text">
      <input type="submit" value="答える" class="button">
    </form>
  </div>
  <% end %>
</div>
