<link href="/css/conversation.css" rel="stylesheet" type="text/css">
<div class="page">
  <div class="titleBar">
    <h3>Questions</h3>
    <p>You&nbsp;<span class="small">&#x25B6;&#x25B6;</span>&nbsp;Natsuki<p>
    <div class="line"></div>
  </div>
    
  <div class="conversation">
    <div class=".face-out-circle">
      <img style="width: 100px; height:100px" src="<%= @target_img %>">
    </div>
    <div class=".face-out-circle">
      <img style="width: 100px; height:100px" src="<%= @lover_img %>">
    </div>

    <% @conversations.each do |conv| %>

    <div class="question">
      <span><%= conv[1].force_encoding("utf-8") %></span>
    </div>
    <%= conv %>
    <% if conv[4] == nil %>
      <form action="/answer" method="post">
        <input type="text" name="conversation_id" value="<%= conv[0] %>">
        <input type="text" name="answer">
        <input type="submit" value="答える">
      </form>
    <% else %>
    <div class="answer">
      <span><%= conv[4].force_encoding("utf-8") %></span>
    </div>
    <% end %>
    <% end %>

    <!-- 3回質問したら聞かない -->

  </div>
  <!-- 告白した側：解答フォーム -->

  <!-- 告白された側：質問フォーム -->
  <div class="footer">
    <form action="/question" method="post">
      <input type="hidden" name="approach_id" value="<%= @approach[0] %>">
      <select name="question_id" class="selection">
      <% @questions.each do |q| %>
        <option value="<%= q[0] %>"><%= q[1].force_encoding("utf-8") %></option>
      <% end %>
      </select>
      <input type="submit" value="質問する" class="button">
    </form>
  </div>

  <div class="conversation">
  </div>
</div>
