<LINK href="/css/mypage.css" rel="stylesheet" type="text/css">
<section class="myPage">
  <div class="firstContents">
    <!-- 上画面：告白していない -->
    <% if @target_img == "" %>

    <a href="/select">
    <div class="anim-line"></div>
      <div class="cover">
        <div class="line-out">
          <div class="line-in">
            <p>
              告白相手を選んでください
              <div class="triangles triangles-anim">
                <div class="triangle to-select1"></div>
                <div class="triangle to-select2"></div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </a>
    <% end%>

    <% if @target_progress == "90%" %>
    <div class="anim-line"></div>
    <a href="/lovemax">
      <div class="cover">
        <div class="line-out">
          <div class="line-in">
            <p>
              本番告白に望みましょう
              <div class="triangles">
                <div class="triangle to-select1"></div>
                <div class="triangle to-select2"></div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </a>
    <% end %>

    <% if @target_progress == "95%" %>
    <div class="anim-line3"></div>
    <div class="cover">
      <div class="line-out">
        <div class="line-in">
          <p>
            最後の返事を待っています
          </p>
        </div>
      </div>
    </div>
    <% end %>

    <% if @target_progress == "100%" %>
    <a href='/result'>
      <div class="cover">
        <div class="line-out">
          <div class="line-in">
            <p class="center">
              告白の結果は…？
            </p>
          </div>
        </div>
      </div>
    </a>
    <% end %>

    <!-- 上画面：告白している -->
    <p>
    </p>
    <div class="borderCircle circle1" <%= @target_circle1 %>></div>
    <div class="circle circle2" <%= @target_circle2 %>></div>
    <div class="borderCircle circle3" <%= @target_circle3 %>></div>
    <div class="circle circle4" <%= @target_circle4 %>></div>
    <div class="circle circle5" <%= @target_circle5 %>></div>
    <div class="borderCircle circle6" <%= @target_circle6 %>></div>
    <div class="borderCircle circle7" <%= @target_circle7 %>></div>
    <div class="circle circle8" <%= @target_circle8 %>></div>

    <% if @target_img != "" %>
    <p><span class="strong">3</span>Days</p>

    <!-- アニメーション用 -->
    <div class="anim1">
      <div class="anim-mask1">
        <div class="anim-circle"></div>
      </div>
    </div>
    <% end %>
    <div class="image">
      <div class="mask">
        <div class="face-out-circle">
          <% if @target_img == "" %>
          <a href="/select">
            <img src="/images/unknown.png">
          </a>
          <% else %>
          <a href="/conversation/to">
            <img src="<%= @target_img %>">
          </a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="slanting"></div>
    <div class="slanting2"></div>
    <div class="line"></div>
    <div class="strong pct">
    <div class="target_name">
      <h5><%= @target_name %></h5>
    </div>
      <p><%= @target_progress %></p>
    </div>
  </div>

  <div class="middleContents">
    <div class="image">
      <div class="face-out-circle">
        <img src="<%= @my_img %>">
      </div>
    </div>
  </div>

  <div class="middleContents">
    <div class="harf-image">
      <div class="harf-face-out-circle">
        <img src="">
      </div>
    </div>
  </div>

  <div class="secondContents">
    <!-- 下画面：告白されていない -->
    <% if @lover_img == "" %>
    <div class="cover">
      <div class="line-out">
        <div class="line-in">
          <p>
            告白されていません
          </p>
        </div>
      </div>
    </div>
    <% end %>

    <% if @lover_progress == "90%" %>
    <div class="cover">
      <div class="line-out">
        <div class="line-in">
          <p>
            本番告白を待っています
          </p>
        </div>
      </div>
    </div>
    <% end %>

    <% if @lover_progress == "95%" %>
    <a href="/return">
      <div class="cover">
        <div class="line-out">
          <div class="line-in">
            <p>
              最後の返事をしましょう
              <div class="triangles">
                <div class="triangle to-select1"></div>
                <div class="triangle to-select2"></div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </a>
    <% end %>

    <% if @lover_progress == "100%" %>
      <div class="cover">
        <div class="line-out">
          <div class="line-in">
            <p>
              カップル成立
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <!-- 下画面：告白されている -->
    <!-- アニメーション用 -->
    <% if @lover_img != "" %>
    <p class="date"><span class="strong">3</span>Days</p>
    <div class="anim2">
      <div class="anim-mask2">
        <div class="anim-circle2"></div>
      </div>
    </div>
    <% end %>
    <div class="strong pct">
      <p><%= @lover_progress %></p>
    </div>
    <div class="borderCircle circle1 <%= @new_circle1 %>" <%= @lover_circle1 %>></div>
    <div class="circle circle2 <%= @new_circle2 %>" <%= @lover_circle2 %>></div>
    <div class="borderCircle circle3 <%= @new_circle3 %>" <%= @lover_circle3 %>></div>
    <div class="circle circle4 <%= @new_circle4 %>" <%= @lover_circle4 %>></div>
    <div class="borderCircle circle5 <%= @new_circle5 %>" <%= @lover_circle5 %>></div>
    <div class="circle circle6 <%= @new_circle6 %>" <%= @lover_circle6 %>></div>
    <div class="circle circle7 <%= @new_circle7 %>" <%= @lover_circle7 %>></div>
    <div class="borderCircle circle8 <%= @new_circle8 %>" <%= @lover_circle8 %>></div>
    <div class="image">
      <div class="mask">
        <div class="face-out-circle">
          <% if @lover_img == "" %>
            <img src="/images/unknown.png">
          <% else %>
          <a href="/conversation/from">
            <% if @lover_progress == "100%" %>
            <img src="<%= @lover_img %>">
            <% else %>
            <img src="/images/unknown.png">
            <% end %>
          </a>
          <% end %>
        </div>
      </div>
    <div class="slanting"></div>
    <div class="slanting2"></div>
    <div class="line"></div>

  </div>
</section>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/mypage.js"></script>
